h1
{
	font-size: 2.3em
}

h2
{
	font-size: 1.7em;
}

body
{
	width: 650px;
	margin: auto;
	margin-top: 40px;
	color: #4c4747;
}

p
{
	font-size: 18px;
	line-height: 28px;
}

ul
{
	font-size: 18px;
	line-height: 28px;
}

.citation
{
	font-size: 18px;
	line-height: 28px;
	margin-left: 10%;
}

.auteur
{
	font-size: 18px;
	line-height: 28px;
	margin-left: 10%;
}

.barre
{
	padding-top: 20px;
	border-top: 1.5px solid black;
}

@font-face
{
	font-family: "papy";
	src: url("PAPYRUS.TTF") format("truetype");
}

@font-face
{
	font-family: "comic";
	src: url("ComicS.ttf") format("truetype");
}